.square {
    border: 5px solid white;
    background-color: var(--color-primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square:hover {
    border-color: black;
}

.square .task {
    padding: 2px;
}