.logo {
  max-width: 400px;
  display: block;
  margin: 75px auto 10px auto;
}

.App {
  margin: auto;
}

.header {
  margin: auto;
}

p {
  /* text-align: center; */
  font-size: 1.4rem;
  color: white; 
  max-width: 600px;
  display: block;
  margin: 10px auto;
}