
:root {
  --color-primary: #00dc64;
}

.root {
  width: 100vw;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
  min-width: 900px;
  min-height: 900px;
}

